body {
  background: #a6e3ff;
  font-family: "questrial", sans-serif;
}

h1 { 
  text-align: center;
}

.stylishBox {
  background-color: #d6f2ff;
  border-style: solid;
  border-width: 2px;
  border-color: #F5FFFA;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

header {
  background: #999;
  color: white;
}

header h1 {
  margin: 0;
}

nav ul {
  margin: 0;
}

nav ul li {
  background: black; 
  color: white;
  display: inline-block;
  list-style-type: none; 
  padding: 5px 15px ;
}

nav ul li a {
  color: white;
}

.column1 {
  width: 48%;
  float: left;
}

.column2 {
  width: 48%;
  float: right;
}

img{
  max-width: 100%;
}
