body {
  background: #a6e3ff;
  font-family: "questrial", sans-serif;
  margin: 0;
}

h1 { 
  text-align: center;
}

header {
  background: #d2f1f3;
  color: white;
}

header h3 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #91c8dc;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  text-transform: uppercase;
  background-color: #91c8dc;
}

.active {
  background-color: #a7e0eb;
}

img{
  max-width: 100%;
}

footer {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #91c8dc;
  color: white;
  text-align: center;
}
